.side-bar {

    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    background-color: 
    #fff0f3;

}

.site-logo {
    width: 300%;
    height: 300%;
    background-image: url("https://pokitto.github.io/assets/images/pok_cool_logo2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.site-header {
    z-index: 101;
    height: 60px;
    max-height: 60px;
    border-bottom: 0px solid #eeebee;
}
